<div class="card" style="width: 13rem;">
  <img src="{{url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="title"> {{name}}</h5>
    <p class="card-text">{{item_text}} </p>
    <p class="meta">
       <a href="/profile{{user.id}}"> <span class="posted-user">{{user.username}}</span></a>
         <span class="post-date">Posted {{format_date createdAt}}</span>
        </p>
  </div>
</div>
