<div class="card" style="width: 13rem;">
  <img src="{{url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="title"> {{name}}</h5>
    <p class="card-text">{{item_text}} </p>
    <p class="meta">
        <span class="posted-user">{{user.username}}</span>
         <span class="post-date">Posted {{item.created_at}}</span>
        </p>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>