

<div class="card-container">
<div class="card" style="width: 13rem;">
  <img src="{{item.url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="title"> {{item.name}}</h5>
    <p class="card-text">{{item.item_text}} </p>
    <p class="meta">
       <a href="/profile{{user.id}}"> <span class="posted-user">{{item.username}}</span></a>
         <span class="post-date">Posted {{format_date createdAt}}</span>
        </p>
  </div>
</div>
</div>
</div>
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments item.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}